# npm
dist
web
node_modules

# test coverage
coverage

# local component conformance fixtures
.artifacts/

# config
config.json

# ide
.idea
.vs

# vim
*.sw?

# direnv
.direnv/

# environment related
.envrc
